<!-- Hero Start -->
<div class="hero" id="home">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6">
        <div class="hero-content">
          <div class="hero-text">
            <h1>"Designing Dreams, Delivering Results"</h1>
            <h5>
              Perfectly encapsulates your commitment to turning visions into reality.
            </h5>
            <div class="typed-text">Software enginneer , Full Stack Developer ,Java/JEE , Angular , React)</div>
          </div>
          <div class="hero-btn">
            <a class="btn" href="">Contact Me</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 d-none d-md-block">
        <div class="hero-image">
          <img src="./assets/img/myphoto.jpg" alt="Hero Image">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->
